{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="page-header">
    <h1>About DevAssistant</h1>
</div>
    <p>DevAssistant began as a side project at Red Hat, where a couple of guys
    got tired of always having to set up their environment, manually installing
    dependencies and doing all this work that isn't really writing software. So
    they came up with a tool that did that for them. In the beginning, it only
    worked for a couple of languages and didn't do a whole lot of things.
    However, it did take some of the burden off their backs.</p>

    <p>From that moment on, DevAssistant has evolved into a powerful tool that
    can help you do much more than just set up your IDE or make sure the right
    variables have the right values. It can help you set up environment for
    various languages, frameworks and projects, create and commit to git
    repositories and much more.</p>

    <p>DevAssistant is a community project - we are more than happy if you help
    us develop it, add assistants for languages we haven't yet covered, or
    submit bugs. Any help is very, very appreciated. If you are interested in
    helping DevAssistant, see the <a href='{{ url_for('contribute')
    }}'>contribute</a> page.</p>

    <p class="signature">The DevAssistant team</span> </p>
{% endblock %}
