{% extends "base.html" %}
{% block title %}Contribute{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Contribute</h1>
</div>
<p>
We are very glad you clicked that button. While DevAssistant does have a few
people working on it, it is never enough. We appreciate all the help we can
get, be it extending its use cases, fixing flaws or just talking about it. The
more people use it, the better. That's the whole point of Free Software. Below
are some examples of how you can help us. Of course, if you think of a new way,
don't let us hold you back.
</p>

<h2>Write your custom assistant</h2>
<p>Are you missing an assistant for your favourite Ruby framework, Python
database engine or a Web application? We would love if you wrote it! It's
fairly easy - <a href="http://docs.devassistant.org/en/latest/developer_documentation/create_assistant.html"
title="Tutorial: Create Your Own Assistant" target="_blank">Read more</a>.</p>

<h2>File a bug</h2>
<p>All software has bugs, even DevAssistant does. We know that, and we want to
fix that. If you find a bug, or have a dazzling idea how to make DevAssistant better,
please see our <a href="https://github.com/devassistant/devassistant/issues"
target="_blank">bug list</a>.</p>

<h2>Write a patch and submit it</h2>
<p>Fixing a bug may take a very long time. The team is small, and while we
might consider your idea to be really brilliant, it's possible we won't get
to making it happen because we'll be knee deep in security fixes. In that case,
if you know some Python, YAML and/or other stuff DevAssistant is composed of,
we'll be super glad if you could fix it and submit the patch to us. If it's
testable, your change can be accepted very, very quickly.</p>
<p>To submit a patch, go to DevAssistant's <a
href="https://github.com/devassistant/devassistant/pulls" target="_blank">pull
requests</a> on GitHub.</p>

<h2>Spread the word</h2>
<p>We know that many project's problem is not the quality of the code,
but the fact that people don't know about its existence in the first place. We
would like to ask you to help us fix that for DevAssistant. Tell your friends,
talk about it on your blog, Twitter, Facebook, Google+, whatever you use to
talk to people. It doesn't matter if you don't write a professional review.
Making people aware is the key.</p>

{% endblock %}
