{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Contact us</h1>
</div>
    <h3>IRC</h3>
    <p>We have a channel on the IRC server freenode called #devassistant. <a
    href="https://www.freenode.net/using_the_network.shtml"
    title="freenode's homepage">How to connect</a>. If you have a usage-related
    question, this is the place to go.</p>
    <h3>Mailing list</h3>
    <p><em>The mailing list will be set up in coming days</em></p>
    <p>You are free to ask usage-related questions on the mailing list as well,
    but we prefer that you use the mailing list for developer inquiries.</p>
    <h3>Ask Fedora</h3>
    <p><a href="https://ask.fedoraproject.org">Ask Fedora</a> is the questions
    &amp; answers site for various Fedora projects. Feel free to ask your question and tag it with the
    <a href="https://ask.fedoraproject.org/questions/scope:all/sort:activity-desc/tags:devassistant/page:1/">
            devassistant</a> tag.</p>
{% endblock %}
