{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Contact us</h1>
</div>
    <h3>Mailing list</h3>
    <p>The <a href="https://lists.fedoraproject.org/mailman/listinfo/devassistant"
        target="_blank" title="DevAssistant mailing list at FedoraProject">mailing list</a>
    is our preferred tool of support. Questions, ideas and complaints can all
    be addressed via the list. We like it because if you have a question, someone
    can address it even though they're currently busy, and whatever is sent to
    the list stays there. Everybody is free to join it, and even if you don't,
    you can post to it. However, the messages from unregistered senders will go
    through the moderators.

    <h3>IRC</h3>
    <p>We have a channel on the IRC server freenode called #devassistant (<a
    href="https://www.freenode.net/using_the_network.shtml" target="_blank"
    title="freenode's homepage">how to connect</a>). If you have a usage-related
    question, this is a great place to go. However, it's possible that nobody
    will be present at the time you arrive. In that case, you can use the
    mailing list (see above).</p>

    <h3>Ask Fedora</h3>
    <p><a href="https://ask.fedoraproject.org" target="_blank">Ask Fedora</a> is the questions
    &amp; answers site for various Fedora projects. Feel free to ask your question and tag it with the
    <a href="https://ask.fedoraproject.org/questions/scope:all/sort:activity-desc/tags:devassistant/page:1/" target="_blank">
            devassistant</a> tag.</p>

    <h3>Google+</h3>
    <p>We have a <a href="https://plus.google.com/communities/112692240128429771916"
        target="_blank" title="DevAssistant Community at Google+">DevAssistant
    Community</a> at Google+. You can use this community to express ideas, ask
    questions or socialize and share with other DevAssistant users and
    developers.</p>

    <h3>Twitter</h3>
    <p>You can follow <a href="http://twitter.com/Dev_Assistant" target="_blank"
        title="DevAssistant Twitter account">@Dev_Assistant</a> for
    a quick, up-to-date news like releases, large bug fixes and the like. Also,
    there's a good chance that we'll reply to you if you mention us.  However,
    Twitter is not really great as a support tool, so if you have a more
    complicated question, please contact us via some of the tools mentioned
    above.</p>
{% endblock %}
